/* ===== Webサイト全体のスタイル ===== */
/* html */
html {
  height: 100%;
}

/* body */
body {
  font-family: sans-serif;
  height: 100%;
   background-image: url("a.jpg");
  margin: 0;
}

/* h1見出し */
h1 {
  color: #ffffff;/* フォントの色 */
  font-size: 90px;/* フォントの大きさ */
  font-family: lobster;/* フォントの種類 */
  text-align: center;/* 文字・画像を中央にそろえる */
   background-image: url("a.jpg");
 height: 130px;/* 高さ */
  padding-top: 30px;/* 上がわの余白 */
 background-repeat: no-repeat;/* 背景のくり返しをやめる */
  background-position: top center;/* 背景の位置 */
   border-style: solid;/* 線の種類 */
  border-color: #ffffff* 線の色 */
  border-width: 10px;/* 線の太さ */
  border-radius: 90px;/* 枠線の角丸 */
  padding: 30px;/* 内側の余白 */
  margin: 150px;/* 外側の余白 */
  
}

/* ===== ヘッダーのスタイル ===== */
/* ヘッダーの箱 */
header {
   background-image: url("a.jpg");

  height: 450px;/* 高さ */
  padding-top: 150px;/* 上がわの余白 */
}


/* ナビゲーションの箱 */
nav {
  background-image: url("a.jpg");
  padding-top: 10px;
  padding-bottom: 10px;
}

/* リスト全体 */
nav ul {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

/* １つ１つのリスト */
nav li {
  display: inline-block;
  margin-right: 40px;
}

/* リンク */
nav a {
  color: #ffffff;
  text-decoration: none;
}

/* リンクにふれた時 */
nav a:hover {
  color: #ffcc11;
}


/* ===== お店紹介のスタイル ===== */
/* セクション */
.shop {
   background-image: url("a.jpg");
  color: #ffffff;
  
  padding: 80px;
}

/* h2見出し */
.title {
  font-size: 30px;
  border-left-style: solid;
  border-left-width: 10px;
  padding-left: 15px;
  margin-bottom: 50px;
}

/* 段落 */
.shop p {
  font-size: 20px;
  background-color: #ffffff1A;
  padding: 20px;
  border-radius: 30px;
  height: 300px;
}

/* 画像 */
.shop img {
  float: right;/* 画像や箱の回り込み */
}


/* ===== パン紹介のスタイル ===== */
/* セクション */
.slide-container {
    width: 100%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.slide-wrapper {
  display: flex;
  animation: slide-flow 20s infinite linear 1s both;
}
.slide{
  width: 300px;
  object-fit:cover;
  border: 1px solid #ddd;
}
@keyframes slide-flow {
     0% {transform: translateX(0);}
 100% {transform: translateX(-100%);}
}



.photo {
  padding: 30px;
   background-image: url("a.jpg");
}

/* h2見出し */
.photo h2 {
  color: #ffffff;
  border-color: #ffffff;
}

/* h3見出し */
.photo h3 {
  color: #663300;
}

/* 段落 */
.photo p {
  color: #ffffff;
  clear: left;/* 画像や箱の回り込みをやめる */
}



/* 小さな箱 */
.small {
  background-color: #ffffff;
 
  width: 240px;
  padding: 15px;
  margin: 20px;
}

/* 箱 */
.box {
  float: left;
   background-image: url("a.jpg");
}
/* ===== パン紹介のスタイル ===== */
.price{
  color: #ffffff;
background-image: url("a.jpg");
}

.cp_qa *, .cp_qa *:after, .cp_qa *:before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	         background-image: url("a.jpg");
}
.cp_qa .cp_actab {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 0 1em 0;
	color: #ffffff;
}
.cp_qa .cp_actab input {
	position: absolute;
	opacity: 0;
}
/* 質問 */
.cp_qa .cp_actab label {
	font-weight: bold;
	line-height: 1.6em;
	position: relative;
	display: block;
	margin: 0 0 0 0;
	padding: 1em 2em 1em 2.5em;
	cursor: pointer;
	text-indent: 1em;
	border-radius: 0.5em;
	background: rgba(27,37,56,0.1);
}
.cp_qa .cp_actab label::before {
	font-family: serif;
	font-size: 1.5em;
	margin-left: -2em;
	padding-right: 0.5em;
	content: 'Q';
}
.cp_qa .cp_actab label:hover {
	transition: all 0.3s;
	color: #00838f;
}
/* --質問の＋アイコン */
.cp_qa .cp_actab label::after {
	font-size: 1.7em;
	font-weight: bold;
	line-height: 2em;
	position: absolute;
	top: 0;
	right: 0;
	content: 'b';
	display: inline-block;
	width: 2em;
	height: 2em;
	-webkit-transition: transform 0.4s;
	        transition: transform 0.4s;
}
/* 答え */
.cp_qa .cp_actab .cp_actab-content {
	position: relative;
	overflow: hidden;
	max-height: 0;
	padding: 0 0 0 2.5em;
	-webkit-transition: max-height 0.2s;
	        transition: max-height 0.2s;
	border-radius: 0 0 0.5em 0.5em;
}
.cp_qa .cp_actab .cp_actab-content::before {
	font-family: serif;
	font-size: 1.5em;
	position: absolute;
	margin: 0.4em 0 0 -1em;
	padding: 0;
	content: 'A';
}
.cp_qa .cp_actab .cp_actab-content p {
	margin: 1em 1em 1em 0;
}
/* 質問を開いた時の仕様 */
/* --答えの高さ */
.cp_qa .cp_actab input:checked ~ .cp_actab-content {
	max-height: 40em;
	border: 10px solid rgba(27,37,56,0.1);
}
/* 質問をクリックした時のアイコンの動き */
.cp_qa .cp_actab input:checked ~ label {
	color: #00838f;
	border-radius: 0.5em 0.5em 0 0;
}
/* 質問をクリックした時の+の動き */
.cp_qa .cp_actab input[type=checkbox]:checked + label::after {
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
/* ===== アクセス情報のスタイル ===== */
/* セクション */
.access {
  padding: 30px;
  background-image: url("a.jpg");
  height: 400px;
  color: #ffffff;
}

/* h3見出し */
.access h3 {
  font-size: 50px;
  font-family: lobster;
  margin-top: 0px;
}

/* リスト */
.access ul {
  list-style-type: none;/* リストのマーカー */
  padding-left: 0px;
}

/* 箱 */
.access div {
  float: left;
  width: 50%;
}

/* フッター */
footer {
  text-align: center; 
  background-image: url("a.jpg");
  color: #ffffff;
}